.articles-container{
    position: relative;
    width: 100%;
    min-height: 70vh;
    padding: 3%;
    background: linear-gradient(40deg, #d9d9d9 49.9%, #12b575 50%);
}

.articles-words{
    font-size: 2rem;
    text-align: center;
}

.articles-images{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.large-container{
    flex: 1;
    margin-right: 3%;
    position: relative;
}

.small-container{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.small{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-text{
    color: #3a3a3a;
    width: 100%;
    font-size: 3vw;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 5%;
    visibility: hidden;
}

.img-1, .img-2{
    position: relative;
}

.small-text1, .small-text2{
    width: 100%;
    font-size: 2vw;
    text-align: center;
    position: absolute;
    padding: 5%;
    bottom: 0;
    color: #3a3a3a;
    visibility: hidden;
}

.articles-images a:hover + p, .articles-images p:hover{
    background: rgba(224,224,224,0.75);
    visibility: visible;
    transition: 0.2s ease;
    cursor: pointer;
}

@media (max-width: 750px){
    .articles-container{
        min-height: auto;
        padding: 5%;
    }
    .articles-images{
        flex-direction: column;
    }
    .articles-images img{
        padding-bottom: 3%;
    }
    .large-container{
        margin-right: 0;
    }
    .articles-images p{
        top: 0;
        font-size: 1.5rem;
        bottom: auto;
        padding-bottom: 5%;
    }
}