.contact-container{
    background-color: #e0e0e0;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

h2{
    color: #3a3a3a;
    text-align: center;
    font-size: 3rem;
}

.input-container{
    margin: 5% 0;
    border-radius: 10px;
    padding: 20px 0;
    width: 500px;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container input{
    margin: 20px;
    width: 80%;
    height: 30px;
    padding: 2%;
    border-radius: 9px;
    border-style: none;
}

textarea {
    width: 80%;
    height: 100px;
    margin: 20px;
    padding: 2%;
    border-radius: 10px;
}

.input-container button{
    margin: 20px;
    font-size: 15px;
    padding: 10px 20px;
    color: #3a3a3a;
    background-color: #e0e0e0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.input-container button:hover{
    background-color: #12b575;
    color: #e0e0e0;
    transition: 0.2s ease;
}

@media (max-width: 750px){
    .input-container{
        width: 90vw;
    }
}