.carousel-container{
    position: relative;
    display: flex;
    padding: 7% 0;
    justify-content: center;
    align-items: center;
}

.carousel-container a{
    text-decoration: none;
}

.carousel-item::after{
    content: '';
    width: 0%;
    height: 5px;
    background-color: #be8900;
    display: block;
    margin: auto;
    
}

.carousel-item:hover::after{
    width: 40%;
    transition: 0.2s;
}

.carousel-image{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.carousel-alt{
    font-size: 2rem;
    color: #3a3a3a;
    font-weight: 500;
}

.left-arrow, .right-arrow{
    position: absolute;
    cursor: pointer;
    width: 50px;
}

.left-arrow{
    left: 150px;
}

.right-arrow{
    right: 150px;
}

.slide.active{
    opacity: 1;
    border-radius: 10px;
}

.slide{
    opacity: 0;
    transition: 0.3s ease;
}

@media (max-width: 750px){
    .left-arrow, .right-arrow{
        position: relative;
        margin: 30%;
    }
}